[package]
name = "gen"
version = "0.1.0"
edition = "2021"

[features]
benchmark=[]

[dependencies]
cached = "0.53.1"
chrono = "0.4.38"
clap = { version = "4.5.8", features = ["derive"] }
fallible-streaming-iterator = "0.1.9"
gfa-reader = { git = "https://github.com/MoinSebi/gfa-reader", rev = "9db57c80e34eb137c1d641eabe513101e0de5955" }
include_dir = "0.7.4"
intervaltree = "0.2.7"
itertools = "0.13.0"
lexical-core = "1.0.2"
noodles = { version = "0.78.0", features = ["bgzf", "core", "vcf", "fasta", "async"] }
petgraph = "0.6.5"
remove_dir_all = "0.8.4"
rusqlite = { version = "0.31.0", features = ["bundled", "array", "session"] }
rusqlite_migration = { version = "1.2.0" , features = ["from-directory"]}
serde = {  version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
sha2 = "0.10.8"
tempfile = "3.12.0"
tempdir = "0.3.7"

[dev-dependencies]
cargo-llvm-cov = "0.6.13"
